.da-slider{
	width: 100%;
	min-width: 100%;
	height: 600px;
	position: relative;
    margin:0;
	overflow: hidden;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
	-webkit-transition: background-position 1.4s ease-in-out 0.3s;
	-moz-transition: background-position 1.4s ease-in-out 0.3s;
	-o-transition: background-position 1.4s ease-in-out 0.3s;
	-ms-transition: background-position 1.4s ease-in-out 0.3s;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	text-align: left;
    z-index:5;
}
.da-slide-current{
	z-index: 1000;
}
.da-slider-fb .da-slide{
	left: 100%;
}
.da-slider-fb  .da-slide.da-slide-current{
	left: 0px;
}
.da-slide .title,
.da-slide .da-img{
	position: absolute;
	opacity: 0;

}

.da-slider-fb .da-slide .da-img{
	left: 60%;
	opacity: 1;
}
.da-slide-bg {
    display:block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
    .slide1 {
        background:transparent url('../images/slide1.png') center no-repeat;
        background-size: cover;
    }
    .slide2 {
        background:transparent url('../images/slide2.png') center no-repeat;
        background-size: cover;
    }
    .slide3 {
        background:transparent url('../images/slide3.png') center no-repeat;
        background-size: cover;
    }
    .slide4 {
        background:transparent url('../images/slide4.png') center no-repeat;
        background-size: cover;
    }
.da-slide-current .da-slide-bg {
    opacity: 1;
}
.da-green-overlay {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background:#3cb984;
    height: 100%;
    opacity: 0;
}
.da-slide-current .da-green-overlay{
    opacity: .40;
}
.da-slide .title {
    display: block;
    position: absolute;
    top: 150px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}
.da-slide h2 {
    font-family: 'Dosis Regular', serif;
    font-size:48px;
    text-transform: uppercase;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    margin: 0;
    color:#ffffff;
}
.da-slide .da-img{
	text-align: center;
	width: auto;
	top: 230px;
	left: 0; /*60%*/
    right:0;
    bottom:0;
    margin:0 auto;
}
.da-slide .da-img img {
    max-width: 100%;
}

.da-slide .da-link{
	top: 270px; /*depends on p height*/
	border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 8px solid rgba(255,255,255,0.8);
	padding: 2px 20px 0px;
	font-size: 18px;
	line-height: 30px;
	width: 80px;
	text-align: center;
	background: rgba(255,255,255,0.2);
}
.da-slide .da-link:hover{
	background: rgba(255,255,255,0.3);
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #515553;
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
	-moz-user-select: none;
	-webkit-user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #515553;
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
	-webkit-transition: opacity 0.4s ease-in-out 0.2s;
	-moz-transition: opacity 0.4s ease-in-out 0.2s;
	-o-transition: opacity 0.4s ease-in-out 0.2s;
	-ms-transition: opacity 0.4s ease-in-out 0.2s;
	transition: opacity 0.4s ease-in-out 0.2s;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	background: transparent url(../images/arrows.png) no-repeat top left;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-next:after{
	background-position: top right;
}
.da-arrows span.da-arrows-prev{
	left: 15px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
}

.da-slide-current .title{
	opacity: 1;
}
.da-slide-current .da-img{
	opacity: 1;
}
/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright .title{
	-webkit-animation: fromRightAnim1 0.6s ease-in both;
	-moz-animation: fromRightAnim1 0.6s ease-in both;
	-o-animation: fromRightAnim1 0.6s ease-in both;
	-ms-animation: fromRightAnim1 0.6s ease-in both;
	animation: fromRightAnim1 0.6s ease-in both;
}
.da-slide-fromright .da-img{
     -webkit-animation: fromRightAnim4 0.6s ease-in 0.8s both;
     -moz-animation: fromRightAnim4 0.6s ease-in 0.8s both;
     -o-animation: fromRightAnim4 0.6s ease-in 0.8s both;
     -ms-animation: fromRightAnim4 0.6s ease-in 0.8s both;
     animation: fromRightAnim4 0.6s ease-in 0.8s both;
 }
.da-slide-fromright .da-slide-bg {
    -webkit-animation: fadeAnim 0.6s ease-in 0.8s both;
    -moz-animation: fadeAnim 0.6s ease-in 0.8s both;
    -o-animation: fadeAnim 0.6s ease-in 0.8s both;
    -ms-animation: fadeAnim 0.6s ease-in 0.8s both;
    animation: fadeAnim 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-green-overlay {
    -webkit-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    -moz-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    -o-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    -ms-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
}


@-webkit-keyframes fromRightAnim1{
    0%{ left: -50%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-webkit-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }}
}
@-webkit-keyframes fadeAnim{
    0%{  opacity: 0; }
    100%{  opacity: 1; }
}
@-webkit-keyframes fadeAnimOverlay{
    0%{ opacity: 0; }
    100%{ opacity: .40; }
}

@-moz-keyframes fromRightAnim1{
    0%{ left: -50%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-moz-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-moz-keyframes fadeAnim{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@-moz-keyframes fadeAnimOverlay{
    0%{ opacity: 0; }
    100%{ opacity: .40; }
}

@-o-keyframes fromRightAnim1{
    0%{ left: -50%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-o-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-o-keyframes fadeAnim{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@-o-keyframes fadeAnimOverlay{
    0%{ opacity: 0; }
    100%{ opacity: .40; }
}

@-ms-keyframes fromRightAnim1{
    0%{ left: -50%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fadeAnim{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@-ms-keyframes fadeAnimOverlay{
    0%{ opacity: 0; }
    100%{ opacity: .40; }
}

@keyframes fromRightAnim1{
	0%{ left: -50%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@keyframes fromRightAnim4{
    0%{ left: 110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}
@keyframes fadeAnim{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@keyframes fadeAnimOverlay{
    0%{ opacity: 0; }
    100%{ opacity: .40; }
}
/* Slide in from the left*/
.da-slide-fromleft .title{
	-webkit-animation: fromLeftAnim1 0.6s ease-in  both;
	-moz-animation: fromLeftAnim1 0.6s ease-in  both;
	-o-animation: fromLeftAnim1 0.6s ease-in  both;
	-ms-animation: fromLeftAnim1 0.6s ease-in  both;
	animation: fromLeftAnim1 0.6s ease-in  both;
}
.da-slide-fromleft .da-img{
	-webkit-animation: fromLeftAnim4 0.6s ease-in 0.8s both;
	-moz-animation: fromLeftAnim4 0.6s ease-in 0.8s both;
	-o-animation: fromLeftAnim4 0.6s ease-in 0.8s both;
	-ms-animation: fromLeftAnim4 0.6s ease-in 0.8s both;
	animation: fromLeftAnim4 0.6s ease-in 0.8s both;
}
.da-slide-fromleft .da-slide-bg{
    -webkit-animation: fadeAnim 0.6s ease-in 0.8s both;
    -moz-animation: fadeAnim 0.6s ease-in 0.8s both;
    -o-animation: fadeAnim 0.6s ease-in 0.8s both;
    -ms-animation: fadeAnim 0.6s ease-in 0.8s both;
    animation: fadeAnim 0.6s ease-in 0.8s both;
}
.da-slide-fromleft .da-green-overlay {
    -webkit-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    -moz-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    -o-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    -ms-animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
    animation: fadeAnimOverlay 0.6s ease-in 0.8s both;
}


@-webkit-keyframes fromLeftAnim1{
    0%{ left: 50%; opacity: 0;  }
    100%{ left: 0; opacity: 1; }
}
@-webkit-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}

@-moz-keyframes fromLeftAnim1{
    0%{ left: 50%; opacity: 0;  }
    100%{ left: 0; opacity: 1; }
}
@-moz-keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}

@-o-keyframes fromLeftAnim1{
    0%{ left: 50%; opacity: 0;  }
    100%{ left: 0; opacity: 1; }
}
@-o-keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}

@-ms-keyframes fromLeftAnim1{
    0%{ left: -10%; opacity: 0;  }
    100%{ left: 0; opacity: 1; }
}
@-ms-keyframes fromLeftAnim4{
    0%{ left: -110%; opacity: 0; }
    100%{ left: 0; opacity: 1; }
}

@keyframes fromLeftAnim1{
	0%{ left: 50%; opacity: 0;  }
	100%{ left: 0; opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ left: -110%; opacity: 0; }
	100%{ left: 0; opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright .title{
	-webkit-animation: toRightAnim1 0.6s ease-in both;
	-moz-animation: toRightAnim1 0.6s ease-in both;
	-o-animation: toRightAnim1 0.6s ease-in both;
	-ms-animation: toRightAnim1 0.6s ease-in both;
	animation: toRightAnim1 0.6s ease-in both;
}
.da-slide-toright .da-img{
	-webkit-animation: toRightAnim4 0.6s ease-in 0.6s both;
	-moz-animation: toRightAnim4 0.6s ease-in 0.6s both;
	-o-animation: toRightAnim4 0.6s ease-in 0.6s both;
	-ms-animation: toRightAnim4 0.6s ease-in 0.6s both;
	animation: toRightAnim4 0.6s ease-in 0.6s both;
}
.da-slide-toright .da-slide-bg{
    -webkit-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    -moz-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    -o-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    -ms-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    animation: fadeAnimOut 0.6s ease-in 0.6s both;
}
.da-slide-toright .da-green-overlay {
    -webkit-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    -moz-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    -o-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    -ms-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
}

@-webkit-keyframes toRightAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: -30%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-webkit-keyframes toRightAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: -5%;  opacity: 1; }
    90%{ left: 50%;  opacity: 0; }
    100%{ left:100%; opacity: 0; }
}
@-webkit-keyframes fadeAnimOut{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-webkit-keyframes fadeAnimOverlayOut{
    0%{ opacity: .40; }
    100%{ opacity: 0; }
}

@-moz-keyframes toRightAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: -30%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-moz-keyframes toRightAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: -5%;  opacity: 1; }
    90%{ left: 50%;  opacity: 0; }
    100%{ left:100%; opacity: 0; }
}
@-moz-keyframes fadeAnimOut{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-moz-keyframes fadeAnimOverlayOut{
    0%{ opacity: .40; }
    100%{ opacity: 0; }
}

@-o-keyframes toRightAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: -30%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-o-keyframes toRightAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: -5%;  opacity: 1; }
    90%{ left: 50%;  opacity: 0; }
    100%{ left:100%; opacity: 0; }
}
@-o-keyframes fadeAnimOut{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-o-keyframes fadeAnimOverlayOut{
    0%{ opacity: .40; }
    100%{ opacity: 0; }
}

@-ms-keyframes toRightAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: -30%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@-ms-keyframes toRightAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: -5%;  opacity: 1; }
    90%{ left: 50%;  opacity: 0; }
    100%{ left:100%; opacity: 0; }
}
@-ms-keyframes fadeAnimOut{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
@-ms-keyframes fadeAnimOverlayOut{
    0%{ opacity: .40; }
    100%{ opacity: 0; }
}

@keyframes toRightAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: -30%;  opacity: 1; }
    100%{ left: 100%; opacity: 0; }
}
@keyframes toRightAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: -5%;  opacity: 1; }
    90%{ left: 50%;  opacity: 0; }
    100%{ left:100%; opacity: 0; }
}
@keyframes fadeAnimOut{
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}
@keyframes fadeAnimOverlayOut{
    0%{ opacity: .40; }
    100%{ opacity: 0; }
}

/* Slide out to the left*/
.da-slide-toleft .title{
	-webkit-animation: toLeftAnim1 0.6s ease-in both;
	-moz-animation: toLeftAnim1 0.6s ease-in both;
	-o-animation: toLeftAnim1 0.6s ease-in both;
	-ms-animation: toLeftAnim1 0.6s ease-in both;
	animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft .da-img{
	-webkit-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-moz-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-o-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	-ms-animation: toLeftAnim4 0.6s ease-in 0.6s both;
	animation: toLeftAnim4 0.6s ease-in 0.6s both;
}
.da-slide-toleft .da-slide-bg{
    -webkit-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    -moz-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    -o-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    -ms-animation: fadeAnimOut 0.6s ease-in 0.6s both;
    animation: fadeAnimOut 0.6s ease-in 0.6s both;
}
.da-slide-toleft .da-green-overlay {
    -webkit-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    -moz-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    -o-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    -ms-animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
    animation: fadeAnimOverlayOut 0.6s ease-in 0.8s both;
}
@-webkit-keyframes toLeftAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: 30%;  opacity: 1; }
    100%{ left: -100%; opacity: 0; }
}
@-webkit-keyframes toLeftAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: 5%;  opacity: 1; }
    90%{ left: -50%;  opacity: 0; }
    100%{ left:-100%; opacity: 0; }
}

@-moz-keyframes toLeftAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: 30%;  opacity: 1; }
    100%{ left: -100%; opacity: 0; }
}
@-moz-keyframes toLeftAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: 5%;  opacity: 1; }
    90%{ left: -50%;  opacity: 0; }
    100%{ left:-100%; opacity: 0; }
}

@-o-keyframes toLeftAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: 30%;  opacity: 1; }
    100%{ left: -100%; opacity: 0; }
}
@-o-keyframes toLeftAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: 5%;  opacity: 1; }
    90%{ left: -50%;  opacity: 0; }
    100%{ left:-100%; opacity: 0; }
}

@-ms-keyframes toLeftAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: 30%;  opacity: 1; }
    100%{ left: -100%; opacity: 0; }
}
@-ms-keyframes toLeftAnim4{
    0%{ left: 0;  opacity: 1; }
    40%{ left: 5%;  opacity: 1; }
    90%{ left: -50%;  opacity: 0; }
    100%{ left:-100%; opacity: 0; }
}

@keyframes toLeftAnim1{
    0%{ left:0;  opacity: 1; }
    30%{ left: 30%;  opacity: 1; }
    100%{ left: -100%; opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ left: 0;  opacity: 1; }
	40%{ left: 5%;  opacity: 1; }
	90%{ left: -50%;  opacity: 0; }
	100%{ left:-100%; opacity: 0; }
}