@font-face {
    font-family: 'Dosis Bold';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-bold-webfont.woff2') format('woff2'),
    url('../fonts/dosis-bold-webfont.woff') format('woff'),
    url('../fonts/dosis-bold-webfont.ttf') format('truetype'),
    url('../fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dosis Light';
    src: url('../fonts/dosis-light-webfont.eot');
    src: url('../fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-light-webfont.woff2') format('woff2'),
    url('../fonts/dosis-light-webfont.woff') format('woff'),
    url('../fonts/dosis-light-webfont.ttf') format('truetype'),
    url('../fonts/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dosis Extra Light';
    src: url('../fonts/dosis-extralight-webfont.eot');
    src: url('../fonts/dosis-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-extralight-webfont.woff2') format('woff2'),
    url('../fonts/dosis-extralight-webfont.woff') format('woff'),
    url('../fonts/dosis-extralight-webfont.ttf') format('truetype'),
    url('../fonts/dosis-extralight-webfont.svg#dosisextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dosis Regular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
    url('../fonts/dosis-regular-webfont.woff') format('woff'),
    url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
    url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dosis SemiBold';
    src: url('../fonts/dosis-semibold-webfont.eot');
    src: url('../fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-semibold-webfont.woff2') format('woff2'),
    url('../fonts/dosis-semibold-webfont.woff') format('woff'),
    url('../fonts/dosis-semibold-webfont.ttf') format('truetype'),
    url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dosis ExtraBold';
    src: url('../fonts/dosis-extrabold-webfont.eot');
    src: url('../fonts/dosis-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/dosis-extrabold-webfont.woff') format('woff'),
    url('../fonts/dosis-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/dosis-extrabold-webfont.svg#dosisextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans Regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans Italic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff'),
    url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
    url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff'),
    url('../fonts/opensans-light-webfont.ttf') format('truetype'),
    url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FreehandBT';
    src: url('../fonts/freehand575bt-regular.eot');
    src: url('../fonts/freehand575bt-regular?#iefix') format('embedded-opentype'),
    url('../fonts/freehand575bt-regular.woff2') format('woff2'),
    url('../fonts/freehand575bt-regular.woff') format('woff'),
    url('../fonts/freehand575bt-regular.ttf') format('truetype'),
    url('../fonts/freehand575bt-regular.svg#freehand') format('svg');
    font-weight: normal;
    font-style: normal;

}