@media (max-width : 320px) {
    .da-slide .da-img {
        display: none;
    }
}


@media (max-width : 480px) {
    .testimonials li {
        width:100%;
    }
    .social-icons li {
        margin: 0;
    }


}

@media (max-width: 768px){

    .testimonials li {
        width:50%;
    }
    .project-nav {
        float: none;
        margin-bottom: 5px;
    }
    .project-nav li {
        margin-right: 5px;
    }
    .da-slider {
        height: 400px;
    }
    .da-slide .title {
        top:80px;
    }
    .da-slide h2 {
        font-size:40px;
    }
    .da-slide .da-img {
        top:180px;
    }
    .da-slide .da-img img{
        max-width: 70%;
    }
    .be-part, .send-a-message {
        text-align: center;
    }

    .sidebar {
        min-height: 0;
        border-right: none;
    }
}


@media (min-width : 320px) and (max-width:480px) {


}


@media (min-width : 320px) and (max-width:768px) {





}
