.title-light {
    font-family:'Dosis Light', serif;
    font-size:40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom:30px;
}
.title-regular {
    font-family:'Dosis Regular', serif;
    font-size:36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom:30px;
}
.title-regular.large {
    font-size:48px;
    line-height: 52px;
}
.title-bold {
    font-family:'Dosis Bold', serif;
    font-size:36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom:30px;
}
.title-bold.small {
    font-size:18px;
    line-height: 24px;
}
.title-semibold {
    font-family:'Dosis SemiBold', serif;
    font-size:36px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom:30px;
}
.title-semibold.small {
    font-size: 24px;
    line-height: 48px;
}
p {
    margin-bottom:20px;
}
strong {
    font-family: 'OpenSans Bold';
    color: #282828;
}
.no-margin-top {
    margin-top:0;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.wrapper {
    padding:20px 0;
}
.list-reset {
    margin:0;
    padding:0;
    list-style-type: none;
}
.text-shadowed {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
}
.instruction {
    font-family:'OpenSans Italic', serif;
    font-size:12px;
    line-height: normal;
    color:#c9c9c9;
}
.form-default .row {
    margin-top:20px;
    margin-bottom:20px;
}
.form-default button {
    float: right;
}
::-webkit-input-placeholder {
    color:#474747;
}

:-moz-placeholder { /* Firefox 18- */
    color:#474747;
}

::-moz-placeholder {  /* Firefox 19+ */
    color:#474747;
}

:-ms-input-placeholder {
    color:#474747;
}

/* Bootstrap Overrides */
.btn-default {
    font-family:'Dosis Bold', serif;
    font-size:16px;
    color:#282828;
    border:2px solid #282828;
    text-transform: uppercase;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.btn-default:active
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active:active,
.btn-default.active:visited{
    border-color: #282828;
    background:#282828;
    color:#ffffff;
}
.form-control {
    font-size:13px;
    height: 48px;
    line-height: 48px;
    border: none;
    color:#474747;
    background: #f3f3f3;
}
.form-control {

}


/* Main Styling Start */
body {
    font-family: 'OpenSans Light', serif;
    font-size:16px;
    line-height: 28px;
    color: #474747;
}

/* Navigation Styling */
.navbar-default {
    background: rgba(77, 190, 143, 0.4);
    border-bottom:1px solid #4dbe8f;
}
.navbar-brand {
    height: 65px;
}
.navbar-brand img {
    display: block;
    float: left;
    margin-right: 30px;
}
.navbar-brand span {
    display: block;
    float: left;
    font-family: 'Dosis Bold', serif;
    font-size: 36px;
    line-height: 35px;
    color: #ffffff;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
}
.navbar-nav li a {
    float: left;
}
.navbar-nav li span{
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    padding:27px 0;
    background: transparent url('../images/ellipse.png') 0 27px no-repeat;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Dosis Bold', serif;
    font-size: 16px;
    line-height: 34px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
}
.navbar-default .navbar-nav>li>a:hover {
    color:#ffffff;
}
.navbar-default .navbar-nav>li>a:after {
    display: block;
    content: "";
    border:1px solid transparent;
}
.navbar-default .navbar-nav>li>a:hover:after,
.navbar-default .navbar-nav>li>a.active:after{
    display: block;
    content: "";
    border:1px solid #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.28);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.28);
}

    .navbar-default .navbar-toggle {
        border-color:#ffffff;
        margin:10px 30px 10px 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background:#ffffff;
    }

/* Slider Styling */
.slider {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-inner {
    display: block;

}
.slider-content {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
}
.curve-mask {
    position: absolute;
    background: transparent url('../images/curve-mask.png') center no-repeat;
    background-size: cover;
    bottom: 0;
    left:0;
    width: 100%;
    height: 200px;
    z-index: 2;
}

/* Call to Action Styling*/
.call-to-action img {
    display: block;
    margin:0 auto;
    max-width: 100%;
    margin: 20px 0;
}
.call-to-action .row {
    margin-bottom: 40px;
}
.ideas img {
    margin-top:30px;
}

/* Facts Styling */
.facts {
    position: relative;
    background:#45b887 url('../images/facts-bg.png') center repeat;
    background-size: cover;
    color:#ffffff;
}
.facts-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(77, 190, 143, 0.4);
    top: 0;
    left: 0;
}
p.conquer {
    font-family: 'FreehandBT', serif;
    font-size:48px;
    line-height: 76px;
}
.facts-list li {
    float:left;
}
.facts-list li.ellipse {
    padding:0 4.5%;
}
.facts-list li.ellipse span{
    display: block;
    width: 12px;
    height: 12px;
    line-height: 60px;
    background:transparent url('../images/ellipse.png') top left no-repeat;
    margin:24px 0;
}
.fact-wrap .no {
    display: block;
    float: left;
    font-family: 'Dosis Extra Light', serif;
    font-size:60px;
    line-height: 60px;
    margin:0 10px 0 0;
}
.fact-wrap .text {
    display: block;
    float:left;
    margin:0;
    font-family:'Dosis Regular', serif;
    font-size:24px;
}

/* Partners Styling */
.partners {
    overflow: hidden;
}
.partners-btn {
    float: right;
    margin-top:20px;
}
.cslides-wrapper {
    overflow: hidden;
}
.cslide-slide {
    float:left;
}
.cslide-disabled,
.cslide-disabled:hover{
    background:#cccccc;
    color:#aaaaaaa;
    border-color: #aaaaaa;
}
.cslide-disabled span,
.cslide-disabled:hover span{
    color:#aaaaaa;
}
.testimonials li {
    display: block;
    position: relative;
    float: left;
    width: 33.3333333333%;
    background:#fafafa;
    height: auto;
}
.testimonials li img {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    background:#ffffff;
    z-index: 2;
}
.testimonials li img:hover {
    opacity:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.testimonials li .text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:10%;
    z-index: 1;
}
.testimonials li .text p {
    font-family:'OpenSans Italic', serif;
    font-size:14px;
    line-height: 18px;
    color:#414141;
    margin:0;
}
.testimonials li .text p .author {
    font-family:'OpenSans Light', serif;
    font-size:13px;
    color:#9c9c9c;
}

/* Projects Styling */
.project-nav {
    float: right;
    margin-top:25px;
}
.project-nav li {
    float:left;
    margin-right:20px;
}
.project-nav li.last {
    margin-right: 0;
}
.project-nav li a {
    font-size:14px;
}

.project-list {
    margin-bottom:20px;
}
.project-list li {
    float:left;
    margin-bottom: 30px;
}.project-list li a {
    display: block;
    position: relative;
 }
 .project-list li a .overlay {
     display: block;
     position: absolute;
     top: 5%;
     left: 5%;
     width: 90%;
     height: 90%;
     background: rgba(77, 190, 143, 0.4) url('../images/magnifier.png') center no-repeat;
     opacity: 0;
 }
 .project-list li a:hover .overlay {
     opacity: 1;
 }
.project-list li a img {
    width:100%;
    height: auto;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}

/* Footer Styling */
.footer-line {
    display: block;
    height: 2px;
    background: #e8e8e8;
    clear: both;
    margin:30px 0;
}
.footer-line.top {
    margin-top:0;
}
.footer-info {

}
.footer-info p {
    margin:0;
}
.footer-logo-wrap {
    margin-bottom:30px;
}
.footer-logo:hover {
    text-decoration: none;
}
.footer-logo img {
    float:left;
}
.footer-logo span {
    font-family: 'Dosis Bold', serif;
    font-size:36px;
    line-height: 35px;
    color:#282828;
    padding-left:15px;
}
.contact-details {
    font-family:'OpenSans Light', serif;
    font-size:24px;
    line-height: 40px;
}
.social-icons li {
    float:left;
    margin-right:20px;
}
.social-icons li a {
    display: block;
    font-size:12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color:#bcbcc4;
    margin:0;
    padding:0;
    border:2px solid #bcbcc4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.social-icons li a:hover {
    color:#282828;
}
.copyright {
    display: block;
    width: 80px;
    margin:0 auto;
}
.copyright img {
    float: left;
    margin-right:5px;
}
.copyright p {
    float: left;
    margin:0;
}
.to-top {
    margin:0;
}
.copyright,
.to-top a {
    font-family: 'Dosis Bold', serif;
    font-size:14px;
    line-height: 23px;
    color:#282828;
    text-transform: uppercase;
}

.jumbotron {
    position: relative;
    height: 350px;
    color: #ffffff;
    margin-bottom: 0;
    padding-bottom:0;
}
.jumbotron .container {
    position: relative;
    z-index: 10;
}
.jumbotron .container h1 {
    margin-top:100px;
}
.jumbotron .overlay {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(77, 190, 143, 0.4);
}

.content {
    position: relative;
    margin-top:-50px;
    z-index: 15;
}

/* About Us */
.jumbotron.about-us {
    background:transparent url('../images/about-us.png') center no-repeat;
    background-size: cover;
}

.chronology {
    background: #fbfbfb;
    padding: 20px 0 100px 0;
    border-top:2px solid #e7e7e7;
    border-bottom:2px solid #e7e7e7;
}
.chronology h2 {
    margin-bottom:130px;
}
.timeline {
    display: block;
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.timeline:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    border-top: thin dashed #777a79;
    z-index: 5;

}
.timeline li {
    display: block;
    position: absolute;
    top: -14px;
    z-index: 10;
}
.timeline li a {
    display: block;
    width: 8px;
    height: 8px;
    background:#474747;
    border:10px solid #fbfbfb;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    webkit-box-sizing:content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.timeline li a .info {
    display: block;
    position: absolute;
    width: 120px;
    top:-80px;
    left:-46px;
    font-size: 13px;
    line-height: 18px;
    color:#282828;
    margin:0;
    padding:5px;
    border-top:3px solid #474747;
    border-bottom:3px solid #474747;
    opacity:0;
}
.timeline li a .info:after {
    display: block;
    content: "";
    position: absolute;
    left:50%;
    bottom:-10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #474747;
    transform: translate(-50%,-50%);
}
.timeline li a:hover .info {
    text-decoration: none;
    color:#282828;
    opacity: 1;
}
.timeline li .date {
    display: block;
    position: absolute;
    width: 70px;
    top: 30px;
    left:-21px;
    text-transform: uppercase;
    text-align: center;
}
.timeline li .date .month {
    font-size:13px;
    font-family: 'Dosis ExtraBold', serif;
    line-height: normal;
}
.timeline li .date .year {
    font-size:24px;
    font-family: 'Dosis Bold', serif;
    line-height: normal;
}
.timeline .t1 {
    left:0;
}
.timeline .t2 {
    left:20%;
}
.timeline .t3 {
    left:40%;
}
.timeline .t4 {
    left:60%;
}
.timeline .t5 {
    left:80%;
}
.timeline .t6 {
    left:100%;
}

.dream-team .row {
    padding:20px 0;
}
.personnel-info h4 {
    font-size:22px;
    line-height: normal;
    color: #414141;
    margin:0 0 5px 0;
}
.personnel-info h4 span {
    display: block;
    font-size: 14px;
    color: #7e7e7e;
}
.personnel-social-media {
    display: inline-block;
    border-top:2px solid #414141;
}
.personnel-social-media li {
    float: left;
}
.personnel-social-media li a {
    display: block;
    font-family: 'Dosis Bold', serif;
    font-size:14px;
    line-height: 24px;
    color:#3bb682;
    text-transform: uppercase;
}
.personnel-social-media li span {
    display: block;
    font-size:6px;
    line-height: 24px;
    margin:0 10px;
}

p.be-part {
    font-family:'Dosis SemiBold', serif;
    font-size:22px;
    line-height: 45px;
    text-transform: uppercase;
}

/* Services */
.jumbotron.services {
    background:transparent url('../images/services.png') center no-repeat;
    background-size: cover;
}
.services .col-md-12 {
    float: none;
    width: 90%;
    margin:0 auto;
}
.skill-wrap {
    margin:20px 0;
}
.skill-wrap h3,
.skill-wrap p{
    margin:0;
}
.progress {
    height: 3px;
    margin: 0;
}
.progress-bar {
    background:#4aa97f;
}
.ellipse-break {
    display: block;
    margin: 20px auto;
}

/* Projects */
.jumbotron.projects {
    background:transparent url('../images/projects.png') center no-repeat;
    background-size: cover;
}

/* Career */
.jumbotron.career {
    background:transparent url('../images/career.png') center no-repeat;
    background-size: cover;
}
.sidebar {
    min-height: 940px;
    border-right:2px solid #e8e8e8;
}
.sidebar ul li {
    display: block;
}
.sidebar ul li a {
    font-family: 'Dosis Regular';
    font-size: 18px;
    line-height: 48px;
    text-transform: uppercase;
    color: #939393;
}
.sidebar ul li a span.bullet {
    display: block;
    float: left;
    width: 13px;
    height: 48px;
    background: transparent url('../images/ellipse-grey-small.png') center no-repeat;
    margin-right: 10px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    font-family: 'Dosis Bold';
    color:#282828;
    text-decoration: none;
}
.sidebar ul li a:hover span.bullet,
.sidebar ul li a.active span.bullet{
    background-image:url('../images/ellipse-dark-small.png');
}

.job-description {
    display: none;
}
.job-description.active {
    display: block;
}

/* Contact */
.sidebar-contact h3 {
    margin-bottom: 0;
}
.jumbotron.contact-us {
    height: 600px;
}
#map_canvas {
    display: block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

}